@use "top";
@use "company";
@use "news";
@use "privacy";
@use "contact";
@use "materials";
@use "feature";
@use "service";
@use "casestudy";
@use "landi";
@use "service-detail";
@use "service-tateteku";
@use "service-yobikomu";
