@use "../../_foundation/global" as g;

#materials {
  //資料詳細
  .l-fv__post {
    margin-top: 1rem;
  }

  .c-cat-list__link {
    font-size: 1.2rem;
  }

  .p-material__detail--main {
    font-size: 1.6rem;
  }

  .p-company-fv {
    padding-bottom: 6.5rem;
  }
  .p-material__tag {
    font-family: g.$font-bold;
    font-size: 1.2rem;
  }

  .p-top-casestudy__cat-list {
    font-size: 1.4rem;
    font-family: g.$font;
    font-weight: 400;
  }

  .p-top-casestudy__cat-item {
    &.is-current {
      font-family: g.$font-bold;
    }
  }

  .p-top-casestudy__cat-link {
    padding-block: 0.9rem;
    padding-inline: 1rem;
  }

  .p-material__pages {
    font-size: 1.2rem;
    opacity: 0.5;
  }

  .p-materials-inner {
    width: 100%;
  }

  .p-materials__thumb {
    border-radius: 20px;
    overflow: clip;
    margin-bottom: 2rem;
  }

  .p-materials__captcha {
    --gap: 2rem;
    margin-bottom: 3.5rem;

    .c-col__item {
      border-radius: 20px;
      overflow: clip;
    }
  }

  .p-material__name {
    font-size: 2rem;
    font-family: g.$font-bold;
    text-decoration: underline;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
  }

  .p-material__detail--ttl {
    line-height: 1;
    margin-bottom: 1rem;
  }

  .p-material__detail {
    padding-top: 3rem;
    border-top: 1px solid g.$c-gray__2;
    font-size: 1.6rem;
  }

  .p-material__detail--txt {
    margin-bottom: 3.5rem;
    font-size: 1.6rem;
  }

  .p-material__detail--ttl {
    font-family: g.$font-bold;
  }

  //資料一覧
  .p-materials-fv {
    color: g.$c-blue__deep;
  }
  .p-material-list__ttl {
    font-size: 2rem;
    font-family: g.$font-bold;
    margin-bottom: 1rem;
    position: relative;
    z-index: 1;
    line-height: 1.45;
  }

  .p-material-list__link {
    padding: 3.5rem 4rem 0;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    width: 100%;

    .p-material__heading--aside {
      margin-bottom: 2rem;
    }

    .img-ov {
      border-radius: 20px 2rem 0 0;
      position: relative;
      z-index: 1;
    }

    &:after {
      content: "";
      position: absolute;
      inset: -1rem -1rem -4.5rem;
      background-color: white;
      border-radius: 20px;
      opacity: 0;
      pointer-events: none;
      transition: g.$duration g.$easing-out;
      transition-property: opacity, scale;
      box-shadow: 0 6px 20px rgba(black, 0.05);
      scale: 0.98;
    }

    @include g.hover {
      &:after {
        opacity: 1;
        scale: 1;
      }
    }
  }
  .p-material__heading--aside {
    margin-bottom: 0.6rem;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .p-contact__col & {
      margin-bottom: 1rem;
    }
  }
  .c-btn.download {
    border-radius: 0 0 2rem 2rem;
    position: relative;
    z-index: 1;
    width: 100%;
    box-sizing: border-box;
  }

  .c-btn__inner {
    justify-content: center;
  }
  .c-btn__icon:has([href="#i-download"]),.c-btn__icon:has([href="#i-download-blue"]) {
    width: 1.4rem;
  }

  .p-materials-list {
    row-gap: 8rem;
  }

  .p-material-list__item--link {
    position: relative;
    z-index: 1;
    &:before {
      content: "";
      position: absolute;
      background-color: white;
      border-radius: 20px;
      opacity: 0;
      transition: opacity g.$duration g.$easing-out;
      transition-property: inset,opacity;
      inset:0;
    }

    &:has(.hover) {
      z-index: 1;
      .p-material-list__link {
        &:before {
          opacity: 0;
        }
      }
      &:before {
        opacity: 1;
        inset: -1rem -1rem -5rem;
      }
    }
  }

  .p-material-list__item {
    position: relative;
    padding-bottom: 0;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      background-color: g.$c-gray__2;
      transition: opacity g.$duration g.$easing-out;
    }

    &:before {
      width: 100%;
      height: 1px;
      left: 0;
    }

    &:after {
      height: 100%;
      width: 1px;
      right: 0;
    }

    &:nth-of-type(3n - 2) {
      .p-material-list__link {
        &:before {
          content: "";
          position: absolute;
          top: 0;
          background-color: g.$c-gray__2;
          height: 100%;
          width: 1px;
          left: 0;
          transition: opacity g.$duration g.$easing-out;
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  #materials {
    .p-company-fv {
      padding-bottom: 0;
    }

    .p-materials__thumb {
      border-radius: 15px;
      margin-bottom: 0.5rem;
    }

    .p-material__detail {
      border-top: none;
      padding-top: 0;
    }

    .p-materials__captcha {
      --gap: 0.5rem;
      margin-bottom: 3rem;
      .c-col__item {
        border-radius: 15px;
      }
    }

    .p-top-casestudy__nav {
      border: none;
      padding-top: 0;
      margin-bottom: 4rem;
    }

    .p-top-casestudy__cat-list {
      flex-wrap: wrap;
    }

    .p-material__detail--main {
      font-size: 1.2rem;
    }

    .p-top-casestudy__cat-link {
      font-family: g.$font-bold;
      padding: 0.75rem 0.8rem 0.6rem;
      &:before {
        box-shadow: none;
        background-color: white;
      }
    }

    .p-materials-list {
      --col: 2;
      --gap: 1.5rem;
      row-gap: 3rem;
    }
    .p-material-list__link {
      padding: 0;
      display: flex;
      flex-direction: column-reverse;
      gap: 1rem;

      .p-material__heading--aside {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 0;
        gap: 1rem;

        .c-cat-list,
        .c-cat-list__item,
        a {
          max-width: 100%;
          min-width: auto;
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .img-ov {
        border-radius: 10px 1rem 0 0;
      }
      .c-btn.download {
        border-radius: 0 0 1rem 1rem;
        font-size: 0.8rem;
      }
    }
    .p-material__detail--txt {
      font-size: 1.2rem;
    }
    .p-material-list__ttl {
      font-size: 1.4rem;
      margin-bottom: 0.5rem;
    }
    .p-material__tag {
      font-size: 1rem;
      white-space: nowrap;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      box-sizing: border-box;
    }
    .p-material-list__item {
      &:before,
      &:after {
        display: none;
      }
      &:nth-of-type(3n-2) {
        .p-material-list__link {
          &:before {
            display: none;
          }
        }
      }
    }
    .p-material__pages {
      font-size: 1rem;
      line-height: 1;
    }
  }
}
