@use "../../_foundation/global" as g;
.landi-case,
.landi {
  --primary-color: #bd4d3f;
}

.landi-case {
  .l-fv__kv {
    aspect-ratio: 1100/400;
  }
}

.p-case__function-image {
  border-radius: 10px;
  overflow: clip;
  display: inline-block;
}

.p-case__function--col {
  --gap: 4rem;
}

.p-case__function-item {
  display: flex;
  gap: 3rem;
  flex-direction: row-reverse;
  align-items: center;
  padding-block: 1.5rem;
  border-top: 1px solid rgba(black, 0.1);
}

.p-case__function-icon {
  width: 9rem;
  aspect-ratio: 1/1;
  border-radius: 10px;
  overflow: clip;
}

.p-case__function-content {
  width: calc(100% - 3rem - 9rem);
  position: relative;
}

.p-case__function-text {
  font-size: 1.6rem;
  line-height: 1.5;
  padding-right: 8rem;

  strong {
    font-weight: bold;
  }
}

.p-case__function-badge {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 50%;
  translate: 0 -50%;
  width: 5rem;
  aspect-ratio: 1/1;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: g.$c-red;
  text-align: center;
  color: white;
  line-height: 1.2;
  border-radius: 50%;
}

.p-case__id-image {
  margin-bottom: 3rem;
  display: inline-block;
}

.p-case__id-strong {
  font-size: 2.2rem;
  color: g.$c-red;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10rem;
}

.p-case__id-heading {
  margin-top: 6rem;
  border-top: 1px solid g.$c-blue__deep;
  padding-top: 5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.p-case__id-copy {
  font-size: 2.8rem;
  text-align: center;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 6rem;

  &:has(+ .c-txt) {
    margin-bottom: 3rem;
  }

  & + .c-txt {
    margin-bottom: 4rem;
  }

  strong {
    color: g.$c-red;
    font-weight: bold;
  }
}

.p-case__id-merit {
  border: 1px solid rgba(black, 0.1);
  border-radius: 15px;
  display: inline-block;
  padding: 1.5rem;
  margin-bottom: 4rem;
}

.c-col {
  &:has(.p-case__id-merit) {
    --gap: 2rem;
    text-align: center;
    font-size: 1.8rem;
  }
}
.p-case__simulation {
  .c-txt {
    margin-bottom: 5.5rem;
  }
  .c-col {
    --gap: 2.5rem;
  }
}

.p-case__simulation-image {
  display: inline-block;
  border: 3px solid rgba(#dadfe0, 0.6);
  border-radius: 10px;
  margin-bottom: 2rem;
}

.p-case__simulation-text {
  margin-bottom: 1.6rem;
}

//footer
.p-landi-footer {
  margin-top: 45rem;
  padding-top: 18rem;
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  position: relative;
  z-index: 2;

  &.tateteku {
    background-color: g.$c-txt-green;
  }
  &.yobikomu {
    background-color: #d06f44;
  }
}

.p-landi-footer__inner {
  max-width: 110rem;
  margin-inline: auto;
  margin-bottom: 10rem;
}

.p-landi-footer__ttl {
  font-size: 3.4rem;
  line-height: 1.55;
  margin-bottom: 4.5rem;
  font-family: g.$font-bold;
}

.p-landi-footer__btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 5rem;

  .c-btn {
    height: 11rem;
    gap: 0.5rem;
    position: relative;
    width: 30rem;
    box-sizing: border-box;
  }
  .c-btn__lead {
    font-size: 1.2rem;
    font-weight: normal;
  }
  .c-btn__txt {
    font-size: 2.2rem;
    font-weight: bold;
  }
}
.p-landi-footer__txt {
  font-size: 1.2rem;
  line-height: 1.3;
  margin-bottom: 7.5rem;
  max-width: 80rem;
  margin-inline: auto;
}

.p-landi-footer__nav--main {
  font-weight: bold;
  font-size: 1.6rem;
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  margin-bottom: 5rem;
}

.p-landi-footer__nav--blank {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.p-landi-footer__nav--list {
  display: flex;
  font-size: 1.2rem;
  gap: 1rem;
  opacity: 0.7;
  align-items: center;
  justify-content: center;

  .c-linelink__txt {
    display: inline-block;
  }
}

.p-landi-footer__kv {
  position: absolute;
  width: g.vwPc(800);
  top: 12rem;
  left: 50%;
  translate: -50% -100%;

  .tateteku & {
    width: g.vwPc(728);
  }
  .yobikomu & {
    width: g.vwPc(628);
  }
}

.p-top-recruit__gallery--img {
  border-radius: 15px;
  overflow: clip;

  img {
    height: 100%;
    object-fit: cover;
  }
}

.js-serviceFooterSlider {
  pointer-events: none;
  translate: 0 4rem;
}

.p-top-recruit__gallery--img--1 {
  width: 23rem;
  height: 13.6rem;
}
.p-top-recruit__gallery--img--2 {
  width: 18.5rem;
  height: 12.2rem;
}
.p-top-recruit__gallery--img--3 {
  width: 9.3rem;
  height: 18.2rem;
}
.p-top-recruit__gallery--img--4 {
  width: 12.4rem;
  height: 12.1rem;
}
.p-top-recruit__gallery--img--5 {
  width: 19.6rem;
  height: 12.9rem;
}
.p-top-recruit__gallery--img--6 {
  width: 19.5rem;
  height: 12.8rem;
}

.js-serviceFooterSlider {
  // translate:0 2.5rem;
  .splide__track {
    overflow: visible;
  }
}

@media (max-width: 1023px) {
  .landi-case {
    .l-fv {
      display: flex;
      flex-direction: column;
    }
  }
  .l-fv__heading {
    order: 1;
    margin-bottom: 6rem;
  }
  .l-fv__kv {
    order: 2;
    border-radius: 10px;
    aspect-ratio: 345/227;
  }
  .l-fv__lead {
    order: 3;
    margin-bottom: 0 !important;
  }

  .p-case__function--col {
    --col: 1;
  }

  .p-case__function-item {
    gap: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    align-items: flex-start;
  }

  .p-case__function-icon {
    width: 5.7rem;
    border-radius: 5px;
  }
  .p-case__function-content {
    width: calc(100% - 1.5rem - 5.7rem);
  }
  .p-case__function-text {
    padding-right: 4.3rem;
    font-size: 1.4rem;
    @include g.setLh(1.3);
  }
  .p-case__id-heading {
    text-align: left;
    border-top: 0.5px solid rgba(g.$c-blue__deep, 0.3);
    padding-top: 3rem;
    margin-bottom: 2rem;
  }
  .p-case__id-copy {
    text-align: left;
    font-family: g.$font-bold;
  }

  .p-case__id-strong {
    font-size: 1.6rem;
    font-family: g.$font-bold;
    @include g.setLh(1.5);
    margin-bottom: 0;
  }
  .p-case__id-col {
    --col: 1;
    --gap:5rem;
  }
  .p-case__id-merit{
    margin-bottom: 2rem;
  }
  .p-case__id-text{
    font-size: 1.4rem;
    text-align: left;
  }
  .p-case__simulation-col{
    --col:1;
    --gap:5rem;
  }
  .p-case__simulation-text{
    margin-bottom: 0;
  }

  .p-landi-footer{
    margin-top: 15rem;
    padding-top: 13rem;
  }
  .p-landi-footer__kv{
    width: 80%;
    top:8.5rem;
  }
  .p-landi-footer__inner{
    padding-inline: 1.5rem;
  }
  .p-landi-footer__ttl{
    font-size: 2.6rem;
    @include g.setLh(1.3);
  }

  .p-landi-footer__btns{
   flex-direction: column;
  }
}
