@use "../../_foundation/global" as g;

.tateteku {
  --primary-color:#46A26F;
  .p-service-detail__trouble-solution {
    bottom: 12rem;
  }
  .p-service-detail__trouble {
    &:before {
      background-color: #e5f2f3;
    }
    &:after {
      @include g.dotted-bg(#d7e1e3);
    }

    &.p-service-detail__trouble--1 {
      z-index: 2;
      padding-bottom: 6rem;

      .p-service-detail__trouble-card-title {
        margin-bottom: 7rem;
      }
      .p-service-detail__trouble-card-image {
        display: block;
        width: 80% !important;
        margin-top: auto;
        margin-bottom: 0;
      }
      .p-service-detail__trouble-card {
        &:nth-of-type(1) {
          .p-service-detail__trouble-card-image {
            bottom: -0.5rem;
          }
        }
        &:nth-of-type(2) {
          .p-service-detail__trouble-card-image {
            bottom: -4rem;
          }
        }
        &:nth-of-type(3) {
          .p-service-detail__trouble-card-image {
            bottom: -2rem;
          }
        }
      }
      .p-service-detail__trouble-card-text {
        margin-bottom: 2rem;
      }
    }
    &.p-service-detail__trouble--2 {
      margin-top: -17rem;
      z-index: 1;
      padding-bottom: 40rem;

      &:before {
        mask-image: linear-gradient(to bottom, transparent 0%, black 80%);
      }

      .p-service-detail__trouble-card {
        .p-service-detail__trouble-card-image {
        }
        &:nth-of-type(1) {
          .p-service-detail__trouble-card-image {
            width: 75%;
            bottom: 2.5rem;
          }
        }
        &:nth-of-type(2) {
          .p-service-detail__trouble-card-image {
            width: 85%;
            bottom: 2rem;
          }
        }
        &:nth-of-type(3) {
          .p-service-detail__trouble-card-image {
            width: 80%;
            bottom: -2rem;
          }
        }
      }
      .p-service-detail__trouble-solution {
        bottom: -17rem;
      }
    }
  }
  .p-service-detail__fv-logo {
    width: 15.6rem;
    vertical-align: middle;
    translate: -1.5rem -0.2rem;
  }

  .p-service-detail__intro-hero-device-main{
    width: g.vwPc(808);
  }

  .p-service-detail__intro-merit-title {
    padding-top: 0;
    border: none;
    margin-bottom: 7rem;
  }
  .p-service-detail__intro-hero-buttons {
    margin-bottom: 0;
  }
  .p-service-detail__intro-merit-inner {
    padding-bottom: 0;
    &::after {
      display: none;
    }
  }
  .p-service-detail__plan {
    .c-txt {
      margin-bottom: 7rem;
    }
  }
  .p-service-detail__plan-main-image {
    margin-bottom: 7rem;
    display: block;
  }

  .p-service-detail__ctn{
    .c-btn{
      width: 24rem;
    }
  }
}
