@use "../../_foundation/global" as g;

//----------------------------------------------------------------
//ベースで利用するリンクコンポーネント
//----------------------------------------------------------------
.img-ov {
  overflow: clip;

  img,
  video {
    display: inline-block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform g.$duration;
  }
}

a {
  @include g.hover {
    .img-ov img,
    .img-ov video {
      transform: scale(1.05);
    }
  }
}
button {
  &:hover {
    .img-ov img,
    .img-ov video {
      transform: scale(1.05);
    }
  }
}

.c-card {
  &:has(.c-card-mainLink:hover) {
    .img-ov img {
      transform: scale(1.05);
    }
  }
}

.c-linelink__txt {
  position: relative;
  background-position: right bottom var(--bottom-offset);
  background-image: linear-gradient(90deg, currentcolor, currentcolor);
  background-repeat: no-repeat;
  background-size: 100% var(--line-width);
  transition: background-size 0.32s ease;
  animation-fill-mode: forwards;
  letter-spacing: normal;

  &.is-ib {
    display: inline-block;
  }

  &.bottom-1 {
    --bottom-offset: 1px;
  }

  &.bottom-2 {
    --bottom-offset: 2px;
  }

  &.bottom-3 {
    --bottom-offset: 3px;
  }

  &.bottom-4 {
    --bottom-offset: 4px;
  }

  &.bottom-5 {
    --bottom-offset: 5px;
  }
  &.line2 {
    --line-width: 2px;
  }
}

.c-linelink {
  .c-linelink__txt.is-animated {
    animation: linelink 0.3s g.$easing-out forwards;
  }

  &.blank {
    .c-linelink__txt {
      position: relative;
      &:after {
        background-image: url("../images/common/blank-icon.svg");
        content: "";
        background-repeat: no-repeat;
        width: 1rem;
        display: inline-block;
        aspect-ratio: 1/1;
        position: absolute;
        right: -0.3rem;
        top: 50%;
        translate: 100% -50%;

        @media (max-width: 1023px) {
          scale: 0.8;
          right: -0.1rem;
        }
      }
    }
    &.deep {
      .c-linelink__txt {
        &:after {
          background-image: url("../images/common/blank-icon__deep.svg");
        }
      }
    }
  }

  .blank-icon {
    background-image: url("../images/common/blank-icon.svg");
    background-repeat: no-repeat;
    width: 1rem;
    display: inline-block;
    aspect-ratio: 1/1;
    margin-left: 0.3rem;
  }

  & > .c-linelink__txt {
    background-size: 100% var(--line-width);
  }

  &.has-icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .c-linelink__icon {
    display: inline-block;
    height: fit-content;

    svg {
      display: block;
    }

    &.arw {
      svg {
        width: 1rem;
        aspect-ratio: 1/1;
        stroke: currentColor;
      }
    }
    &.pdf {
      svg {
        width: 2.4rem;
        aspect-ratio: 2/1;
      }
    }
  }
}

.c-linelink--hidden {
  &:not(.c-card) {
    .c-linelink__txt {
      background-size: 0% 1px;
    }
  }
  &.c-card {
    a:not(.c-card-innerLink),
    h3,
    h4,
    p {
      .c-linelink__txt {
        background-size: 0% 1px;
      }
    }
  }
  .c-card.c-linelink & {
    .c-linelink__txt.is-animated {
      background-size: 100% var(--line-width);
      background-position: left bottom 0px;
    }
  }
  .c-anchor-list & {
    @include g.hover {
      .c-linelink__txt {
        background-size: 100% var(--line-width);
        background-position: left bottom var(--bottom-offset);
      }
    }
  }
  .c-linelink__txt.is-animated {
    animation: none !important;
    background-size: 100% var(--line-width);
    background-position: left bottom 0px;
  }
  &:not(.c-card) {
    .c-linelink__txt.is-animated {
      background-size: 100% var(--line-width);
      background-position: left bottom 0px;
    }
  }
  &.c-card {
    a:not(.c-card-innerLink),
    h3,
    h4,
    p {
      .c-linelink__txt.is-animated {
        background-size: 100% var(--line-width);
        background-position: left bottom 0px;
      }
    }
  }
}

//外部リンク
.c-blank {
  .c-blank-icon svg {
    aspect-ratio: 1/1;
    width: 1rem;
    margin-left: 0.2rem;
    stroke: currentColor;
    stroke-width: 0.5px;
  }
}

@media (max-width: g.$size-sp) {
  .c-blank {
    .c-blank-icon svg {
      margin-left: 0.1rem;
      width: 0.9rem;
      stroke-width: 0.5px;
    }
  }
}

.c-card {
  position: relative;

  .c-card-mainLink {
    position: absolute;
    inset: 0;
  }

  .c-card-body {
    pointer-events: none;
  }
  .c-card-innerLink {
    position: relative;
    display: inline-block;
    pointer-events: all;
    z-index: 1; //ルートスタッキングコンテキストで包まれている
  }
}

//----------------------------------------------------------------
//ベースで利用するリンクコンポーネントここまで
//----------------------------------------------------------------

.c-btn {
  --hov-color: #{g.$c-green__light};
  --hov-bg-color: transparent;
  --hov-border-color: #{g.$c-green__light};
  border: 2px solid g.$c-gray__1;
  border-radius: 10px;
  line-height: 1;
  padding: 2rem 1.7rem 2rem 2rem;
  font-weight: bold;
  font-size: 1.5rem;
  display: inline-block;
  font-family: g.$font-bold;
  transition: g.$duration cubic-bezier(0.43, 0.05, 0.2, 1);
  transition-property: background-color, border-color, color;

  &:has(.c-btn__lead) {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .c-btn__txt {
    display: inline-block;
    transform-origin: 50% 50% 0.7em;
    position: relative;
    backface-visibility: hidden;

    &:after {
      content: attr(data-text) "";
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      transform: rotateX(90deg);
      transition-duration: 0.2s;
      transition-property: transform, opacity;
      transition-timing-function: cubic-bezier(0.43, 0.05, 0.2, 1);
      backface-visibility: hidden;
      transform-origin: 50% 50% 0.7em;
    }
  }

  &.red {
    background-color: g.$c-red;

    .to-bg-blue & {
      border-color: transparent;
    }
  }

  .words {
    display: block;
    opacity: 1;
    transition: 0.2s cubic-bezier(0.43, 0.05, 0.2, 1);
    transition-property: opacity, transform;
    backface-visibility: hidden;
    transform-origin: 50% 50% 0.7em;
  }

  .c-btn__lead {
    font-size: 1rem;
    margin-bottom: 0.7rem;
    display: inline-block;
  }

  &.bg-blue {
    --hov-bg-color: #{g.$c-green__light};
    --hov-border-color: #{g.$c-green__light};
    --hov-color: white;
    color: white;
    background-color: g.$c-green;
    border-color: g.$c-green;
  }

  .c-bg-blue &,
  .to-bg-blue & {
    --hov-border-color: white;
    --hov-color: white;
    border-color: g.$c-beige__dark;
  }

  &.full-width {
    width: 100%;
    margin-inline: 4rem;
    box-sizing: border-box;

    .c-btn__inner {
      justify-content: center;
    }
  }

  &.white {
    --hov-bg-color: #{g.$c-green};
    --hov-color: white;
    --hov-border-color: #{g.$c-green};
    background-color: white;
    border-color: white;
    color: g.$c-blue__deep;
  }

  &.document {
    img {
      width: 10rem;
    }
  }
  &.contact {
    img {
      width: 5rem;
    }
  }
  &:has(img) {
    position: relative;
    padding-bottom: 4rem;
    box-sizing: border-box;
  }
  img {
    position: absolute;
    left: 50%;
    bottom: 0;
    translate: -50% 0;
  }

  @include g.hover {
    color: var(--hov-color);
    border-color: var(--hov-border-color);
    background-color: var(--hov-bg-color) !important;

    .words {
      opacity: 0;
      transform: rotateX(-90deg);
    }
    .c-btn__txt {
      &:after {
        opacity: 1;
        transform: rotateX(0);
      }
    }
  }
}

.c-btn__wrapper {
  .c-btn {
    width: fit-content;
  }
  @include g.hover {
    .c-btn {
      color: var(--hov-color);
      border-color: var(--hov-border-color);
      background-color: var(--hov-bg-color) !important;

      .words {
        opacity: 0;
        transform: rotateX(-90deg);
      }
      .c-btn__txt {
        &:after {
          opacity: 1;
          transform: rotateX(0);
        }
      }
    }
  }
}

.c-btn__icon {
  width: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 8/7;
}

.c-btn__inner {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.c-btn__svg {
  width: 100%;
  aspect-ratio: 8/7;
}

@media (max-width: 1023px) {
  .c-btn {
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 0.8rem 0.9rem 0.6rem 1rem;

    &.sp-big {
      font-size: 1.3rem;
      padding: 1.3rem 0.9rem 1.1rem 1.7rem;
      width: 100%;
      box-sizing: border-box;
      display: block;

      .c-btn__inner {
        justify-content: center;
      }
    }
    &.document {
      img {
        width: 5.5rem;
      }
    }
    &.contact {
      img {
        width: 2.9rem;
      }
    }

    .c-btn__lead {
      font-size: 0.8rem;
      margin-bottom: 0.4rem;
    }

    &:has(img) {
      padding-bottom: 2rem;
      font-size: 1.6rem;
      .c-btn__lead {
        font-size: 1rem;
        margin-bottom: 0.4rem;
      }
    }
  }
  .c-btn__icon {
    width: 1rem;
    translate: 0 -0.1rem;
  }
  .c-btn__inner {
    gap: 0.3rem;
  }
}
