@use "../../_foundation/global" as g;
@use "../../_foundation/mixins" as m;

.u-visually-hidden{
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  padding: 0!important;
  margin:0!important;
}

.mt-0{
  margin-top: 0!important;
}
.mt-1{
  margin-top: 1rem!important;
}
.mt-2{
  margin-top: 2rem!important;
}
.mt-3{
  margin-top: 3rem!important;
}
.mt-4{
  margin-top: 4rem!important;
}
.mt-5{
  margin-top: 5rem!important;
}
.mt-6{
  margin-top: 6rem!important;
}
.mb-1{
  margin-bottom: 1rem!important;
}
.mb-2{
  margin-bottom: 2rem!important;
}
.mb-3{
  margin-bottom: 3rem!important;
}
.mb-4{
  margin-bottom: 4rem!important;
}
.mb-5{
  margin-bottom: 5rem!important;
}
.mt-6{
  margin-bottom: 6rem!important;
}

.mb-0{
  margin-bottom: 0!important;
}
.mb-5{
  margin-bottom: 5rem!important;
}

@media(max-width:g.$size-sp){
  .mb-1-sp{
    margin-bottom: 1rem;
  }
}

.u-scrollBar-hidden{
   /*スクロールバー非表示（IE・Edge）*/
   -ms-overflow-style: none;
   /*スクロールバー非表示（Firefox）*/
   scrollbar-width: none;

   &::-webkit-scrollbar{
    display:none;
  }
}

.c-radius-20{
  border-radius: 20px;
}

.c-pt-0__sp{
  @media(max-width:1023px){
    padding-top: 0!important;
  }
}
.c-mt-0__sp{
  @media(max-width:1023px){
    margin-top: 0!important;
  }
}
.u-align-center{
  text-align: center;

  &.u-align-center__sp-left{
    @media(max-width:1023px){
      text-align: left;
    }
  }
}

.u-txt-red{
  color:g.$c-red;
}
.u-txt-green{
  color:g.$c-txt-green;
}

.u-txt-green-bright{
  color:g.$c-txt-green--bright;
}