@use "../_foundation/global" as g;
@use "../_foundation/keyframe" as k;
@use "../_foundation/mixins" as m;

:root {
  --header-lead-height: 4rem;
  --header-index: 100;
  --logo-index: 101;
  --global-nav-index: 100;
  --drawer-btn-index: 102;
  --drawer-content-index: 101;
  --header-height: 7rem;
  --header-padding-inline: 2.5rem;
  --header-nav-bg-index: 99;
  --header-bg-index:80;
  --header-lead-index:90;
  --difference-color: #dfb9a6;
}

body:not(.renewal) {
  .l-header {
    height: 200px;
  }
}

//ヘッダー
.l-header {
  width: 100%;

  &:after {
    height: 5rem;
    width: calc(100% - 2rem);
    content: "";
    left: 1rem;
    top: 1rem;
    display: block;
    opacity: 0;
    background-color: rgb(white, 0.5);
    backdrop-filter: blur(15px);
    position: fixed;
    pointer-events: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: fixed;
    pointer-events: none;
    z-index: var(--header-nav-bg-index);
  }

  //追従ヘッダー
  &.is-fixed {
    --header-height: 5rem;

    &:after {
      opacity: 1;
    }

    .l-header__logo {
      animation: header__show 0.5s forwards g.$easing-out;
      top: 1rem;
      padding-block: 1rem;
      position: fixed;
    }

    .l-header__cta--wrapper {
      position: fixed;
      top: 1rem;
      align-items: center;
      height: var(--header-height);
      animation: header__show 0.5s forwards g.$easing-out;
    }

    .l-header__nav {
      color: bar(--difference-color);
      animation: header__show 0.5s forwards g.$easing-out;
      padding-block: 1rem;
      // mix-blend-mode: difference;
      position: fixed;
      top: 1rem;

      &:after {
        display: none;
      }

      .c-btn.bg-blue {
        background-color: #dfb9a6;
        background-color: white;
        border-color: #dfb9a6;
        color: black;
      }
    }
    .l-header__nav--item {
      &.is-current {
        .l-header__nav--link {
          &:before {
            opacity: 0;
          }
        }
      }
    }
    .c-btn {
      padding: 1rem 2rem 0.8rem;
    }
  }

  @keyframes header__show {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.l-header__lead--left {
  .l-header__lead--txt {
    font-size: 1.1rem;
  }
}

.l-header__inner {
  width: 100%;
  pointer-events: none;
}

.l-header__lead {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  padding-inline: var(--header-padding-inline);
  height: var(--header-lead-height);
  align-items: center;
  box-sizing: border-box;
  z-index: var(--header-lead-index);
  &:before{
    content:'';
    position: absolute;
    inset:0 0 -3rem;
    background-color:var(--bg-color);
    opacity: 0;
    pointer-events: none;
    transition:opacity g.$duration g.$easing-out;
    z-index: -1;
  }

  .mega-open &{
    &:before{
      opacity: 1;
    }
  }

  .header-bg-gray & {
    &:before {
      position: absolute;
      content: "";
      width: 100%;
      top: 0;
      left: 0;
      height: calc(var(--header-lead-height) + 3rem);
      background-color: g.$c-gray__bg;
      z-index: -1;
    }
  }
}

.l-header__cta--wrapper {
  display: flex;
  justify-content: flex-end;
  padding-right: var(--header-padding-inline);
  position: absolute;
  top: var(--header-lead-height);
  right: 0;
  z-index: var(--header-index);
}

.l-header__lead--relation {
  --gap: 1.5rem;
  display: flex;
}

.l-header__lead--relation--left {
  display: flex;
  padding-right: 1.5rem;
  position: relative;
  gap: var(--gap);
  letter-spacing: 0.04rem;

  &:after {
    content: "";
    height: 1.5rem;
    width: 1px;
    position: absolute;
    top: 50%;
    opacity: 0.5;
    right: 0;
    translate: 0 -50%;
    background-color: g.$c-blue__deep;
  }
}

.l-header__lead--relation--right {
  padding-left: 1.5rem;
  display: flex;
  gap: var(--gap);
}

//ロゴ
.l-header__logo {
  position: absolute;
  z-index: var(--logo-index);
  height: var(--header-height);
  left: var(--header-padding-inline);
  top: var(--header-lead-height);
  padding-block: 2rem;
  box-sizing: border-box;
}

.l-header__logo--link {
  display: block;
  height: 100%;
}

.l-header__logo--img {
  width: 15.4rem;
  height: 100%;
}

//グロナビ
.l-header__nav {
  --gap: 2.65rem;
  position: absolute;
  z-index: var(--global-nav-index);
  right: calc(var(--header-padding-inline) + 29rem);
  top: var(--header-lead-height);
  display: flex;
  align-items: center;
  gap: var(--gap);
  font-size: 1.4rem;
  height: var(--header-height);
  box-sizing: border-box;
  width: 100%;
  justify-content: flex-end;

  &:after {
    content: "";
    position: absolute;
    right: -29rem;
    bottom: 0;
    width: calc(100% - var(--header-padding-inline) * 2);
    height: 1px;
    background-color: g.$c-gray__2;
    z-index: 0;
  }

  .c-btn {
    font-size: 1.4rem;
  }
}

.l-header__nav--link {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: g.$c-green__light;
    opacity: 0;
    z-index: var(--header-index);
  }
  .is-current & {
    font-weight: bold;
    font-family: g.$font-bold;

    &:before {
      opacity: 1;
    }
  }
}

.l-header__nav--item {
  height: 100%;
}

.l-header__nav--list {
  display: flex;
  gap: var(--gap);
  height: 100%;
  align-items: center;
}

.l-header__cta {
  padding-block: 0.5rem;
}
//メガメニュー
.l-header__megamenu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top:0px;
  padding-top: calc(var(--header-height) + 5rem);
  width: calc(100vw - var(--scrollbar-width));
  right: calc((var(--header-padding-inline) + 29rem) * -1);
  background-color: white;
  padding-bottom: 8rem;
  pointer-events: none;
  border-radius: var(--section-radius) var(--section-radius) 0 0;
  border-top:1px solid g.$c-gray__2;
  transition:all g.$duration g.$easing-out;

  .mega-open & {
    opacity: 1;
    visibility: visible;
    display: block;
    pointer-events: auto;
  }
}
.l-header__megamenu--container{
  max-width: 110rem;
  padding-inline:5rem;
  margin-inline: auto;
  display: flex;
  gap:5.5rem;
}
.l-header__megamenu--heading{
  width: calc((100% - 5.5rem * 3) / 4);
  font-weight: bold;
  font-size: 2rem;

  .c-linelink__txt{
    display: inline-block;
  }
}

.l-header__megamenu--grid{
  width: calc((100% - 5.5rem * 3) / 4 * 3 + 5.5rem * 2);
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto 1fr;
  column-gap:5.5rem;

  .img-ov{
    position: relative;
    border-radius: 1rem;
  }
}

.l-header__megamenu--item--txt{
  position: absolute;
  bottom:1rem;
  left:1.5rem;
  width: calc(100% - 3rem);
  color:white;
  font-size: 1.2rem;
  line-height: 1.5;
  z-index: 1;
}

.l-header__megamenu--item--label,.l-header__megamenu--item--link{
  font-size: 1.4rem;
  font-weight: bold;
  display: inline-block;
}

.l-header__megamenu--item{
  &:nth-of-type(1){
    grid-row:1/-1;
  }
  &:nth-of-type(2){
    grid-row:1/-1;
  }
  &:nth-of-type(3){
    margin-bottom: 2.2rem;
    grid-row: 1/2;
    grid-column: 3/4;
  }
  &:nth-of-type(4){
    grid-row: 2/3;
    grid-column: 3/4;
  }
  .img-ov{
    margin-top: 1.2rem;
  }
}

.l-header__bg{
  position: fixed;
  inset:0;
  z-index: var(--header-bg-index);
  backdrop-filter: blur(25px);
  pointer-events: none;
  opacity: 0;
  transition:opacity g.$duration g.$easing-out;

  .mega-open &{
    opacity: 1;
    pointer-events: auto;
  }
}

//ドロワー
.l-header__menu {
  position: absolute;
  z-index: var(--drawer-btn-index);
}
.l-header__drawer {
  position: fixed;
  z-index: var(--drawer-content-index);
  inset: 0;
  height: 100%;

  &[aria-hidden="true"] {
    opacity: 0;
    visibility: hidden;
  }
}
.l-header__drawer--inner {
  padding: 2.5rem 2rem 0rem;
}

.l-header__drawer--scrollable {
  overflow-y: auto;
  height: 100%;
  color: g.$c-blue__deep;
}

.l-header__drawer--btns {
  margin-bottom: 2.5rem;
  display: flex;
  gap: 0;
  .c-btn {
    width: 50%;
    font-size: 1.4rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    &:nth-of-type(1) {
      border-radius: 5px 0 0 5px;
    }
    &:nth-of-type(2) {
      border-radius: 0 5px 5px 0;
      border-left: none;
    }
  }
  .c-btn__inner {
    justify-content: center;
    align-items: center;
  }
}

.l-header__drawer--nav {
  border-bottom: 1px solid g.$c-gray__2;
  margin-bottom: 5rem;
}

.l-header__drawer--item {
  border-top: 1px solid g.$c-gray__2;
}

.l-header__drawer--link,
.l-header__drawer--item--link {
  padding-block: 1.67rem;
  line-height: 1;
  font-size: 1.5rem;
  font-family: g.$font-bold;
  width: 100%;
}

.l-header__drawer--item--child--inner {
  padding-bottom: 2rem;
}

a.l-header__drawer--item--child--link {
  background-color: rgba(g.$c-blue__deep, 0.05);
  font-size: 1.4rem;
  padding-left: 1.5rem;
  height: 100%;
  align-items: center;
  padding-right: 1rem;
  line-height: 1.3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.8rem;

  &:not(:last-child) {
    border-bottom: 1px solid white;
  }
  &:first-child {
    border-radius: 3px 3px 0 0;
  }
  &:last-child {
    border-radius: 0 0 3px 3px;
  }
}
.l-header__drawer--item--child--img {
  width: 5.8rem;
}
.l-header__drawer--item--icon {
  border-radius: 50%;
  width: 2rem;
  aspect-ratio: 1/1;
  display: block;
  border: 1px solid g.$c-gray__2;
  position: absolute;
  right: 0;
  top: 50%;
  translate: 0 -50%;
  background-color: g.$c-gray__2;
  transition: all g.$duration g.$easing-out;

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 6px;
    height: 1px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: white;
    border-radius: 100svh;
    transition: all g.$duration g.$easing-out;
    opacity: 1;
    display: inline-block;
  }

  &:after {
    rotate: 90deg;
  }

  .l-header__drawer--item.is-open & {
    border-color: g.$c-gray__2;
    background-color: transparent;
    &:before,
    &:after {
      background-color: g.$c-green;
    }
    &:after {
      transition: 0 100%;
      opacity: 0;
      // rotate:0deg;
    }
  }
}
.l-header__drawer--footer {
  background-color: g.$c-gray__bg;
  text-align: center;
  font-size: 1rem;
  padding-top: 3rem;
  padding-bottom: 8rem;
}

.l-header__drawer--logo {
  width: 14.6rem;
  height: 3rem;
  display: block;
  margin-inline: auto;
  margin-bottom: 1rem;

  svg {
    width: 100%;
    height: 100%;
  }
}

.l-header__drawer--address {
  line-height: 1.57;
  margin-bottom: 5.3rem;
}
.l-header__drawer--services {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 5.5rem;

  .c-linelink__txt {
    display: inline-block;
  }
}
.l-header__drawer--bottom {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.2rem 1.8rem;

  .c-linelink__txt {
    display: inline-block;
  }
}

//背景青の時のヘッダー
body.blue {
  .l-header:not(.is-fixed) {
    .l-header__lead {
      background-color: #004452;
      color: white;
      z-index: 10;

      &:before {
        background-color: #004452;
        content: "";
        position: absolute;
        width: 100%;
        height: calc(100% + 5rem);
        z-index: -2;
        left: 0;
        top: 0;
      }
      &:after {
        background-color: g.$c-green;
        content: "";
        position: absolute;
        width: 100%;
        height: var(--header-height);
        z-index: -1;
        left: 0;
        top: var(--header-lead-height);
        border-radius: 20px 2rem 0 0;
      }
    }
    &:not(:has(.is-open)){
      .l-header__inner {
        color: white;
      }
      .l-header__cta {
        .c-btn.bg-blue {
          background-color: white;
          color: g.$c-green;
        }
      }
      .l-header__nav {
        &:after {
          opacity: 0.2;
        }
      }
      .l-header__nav--link {
        &:before {
          background-color: white;
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .l-header__logo {
    top: 1.6rem;
    left: 1.3rem;
    padding-block: 0;
    height: fit-content;
  }
  .l-header__logo--link {
    height: fit-content;
  }
  .l-header__cta--wrapper {
    padding-right: 1rem;
    top: 1rem;

    .c-btn__icon {
      display: none;
    }
  }

  .l-header__cta {
    padding-block: 0;
    .c-btn {
      font-size: 1rem;
      padding: 1.3rem 0.8rem 1.3rem 0.8rem;
    }
  }
  .l-header__logo--img {
    width: 10rem;
    height: 2.3rem;
  }
  .l-header__nav {
    --gap: 0;
    position: fixed;
    bottom: 0;
    top: auto;
    left: 0;
    justify-content: flex-start;
    background-color: rgba(white, 0.8);
    height: var(--header-height);
    font-size: 1rem;
    border-radius: 15px 0 0 0;
    backdrop-filter: blur(5px);
    color: #333333;
    font-family: g.$font-bold;
    width: calc(100vw / 6 * 5);
    box-shadow: 0 -2px 4px rgba(black, 0.1);
    overflow: clip;
  }
  .l-header__nav--list {
    width: 100%;
  }
  .l-header__nav--item {
    width: calc(100vw / 6);
    position: relative;

    &.is-current {
      color: g.$c-blue__deep;

      &:after {
        display: none;
      }
    }

    &:has(+ .is-current) {
      &:after {
        display: none;
      }
    }

    &:before {
      height: 100%;
      z-index: -1;
      background-color: #f0f2f4;
    }

    &:not(:last-child) {
      &:after {
        content: "";
        position: absolute;
        top: 2rem;
        right: 0;
        width: 1px;
        height: 2rem;
        background-color: #e5e5e5;
      }
    }
  }
  .l-header__nav--link {
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 2.5rem;
  }
  .l-header__menu {
    width: calc(100vw / 6);
    height: var(--header-height);
    position: fixed;
    right: 0;
    bottom: 0;
    border-radius: 0 1.5rem 0 0;
    font-size: 0.9rem;
    z-index: var(--drawer-btn-index);
    color: white;
    text-align: center;
    font-family: g.$font-bold;

    &:before {
      position: absolute;
      background-color: g.$c-blue__deep;
      border-radius: 0 1.5rem 0 0;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      content: "";
      pointer-events: none;
      transition: 0.2s g.$easing-out;
      transition-property: height, width, translate, border-radius;
    }

    .is-drawer-open & {
      &:before {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        translate: -0.85rem -0.15rem;
      }
      .l-header__menu--label {
        opacity: 0;
      }
      .l-header__menu--dots {
        opacity: 0;
        gap: 0;
      }
      .l-header__menu--line {
        opacity: 1;

        &:before,
        &:after {
          scale: 1;
        }

        &:before {
          rotate: 45deg;
        }
        &:after {
          rotate: -45deg;
        }
      }
    }
  }
  .l-header__menu--dots {
    gap: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 2rem;
    translate: -50% 0;
    transition: 0.2s g.$easing-out;
    transition-property: gap, opacity;
  }

  .l-header__menu--dot {
    background-color: white;
    display: inline-block;
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 3px;
  }
  .l-header__menu--label {
    translate: 0 0.7rem;
    display: inline-block;
    transition: opacity 0.2s g.$easing-out;
  }

  .l-header__menu--line {
    position: absolute;
    left: 50%;
    top: 2rem;
    translate: -50% 0;
    width: 15px;
    height: 1px;
    transition: opacity 0.2s g.$easing-out;
    opacity: 0;

    &:before,
    &:after {
      content: "";
      position: absolute;
      inset: 0;
      width: 15px;
      height: 1px;
      rotate: 0;
      background-color: white;
      transition: 0.25s g.$easing-out;
      transition-property: scale, rotate;
      scale: 1 0;
    }
  }

  .l-header__drawer {
    opacity: 0;
    padding-left: 6rem;
    pointer-events: none;
    transition: all g.$duration g.$easing-out;

    &:before {
      content: "";
      position: absolute;
      inset: 0 0 0 6rem;
      background-color: white;
      width: calc(100% - 6rem);
      opacity: 0;
      translate: 3rem 0;
      transition: all 0.4s g.$easing-out;
      display: block;
    }

    .l-header__drawer--scrollable {
      position: relative;
      z-index: 1;
      opacity: 0;
      transition: all 0.4s g.$easing-out;
      translate: 4rem 0;
    }
    &.is-open {
      opacity: 1;
      pointer-events: all;

      &:before {
        opacity: 1;
        translate: 0 0;
      }
      .l-header__drawer--scrollable {
        opacity: 1;
        translate: 0 0;
      }
    }
  }

  .l-header__bg {
    width: 100vw;
    height: 100svh;
    background-color: rgba(black, 0.6);
    z-index: 100;
    top: 0;
    left: 0;
    position: fixed;
    backdrop-filter: blur(25px);
    opacity: 0;
    transition: opacity g.$duration g.$easing-out;

    .is-drawer-open & {
      opacity: 1;
    }
  }
}
